html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.sections {
  padding: 3%;
}

/* landing area */

#landing {
  height: 100vh;
  text-align: center;
  margin-top: 30vh;
  position: relative;
}

#landing .animated-box {
  /* border: 1px solid black; */
  display: inline-block;
  padding: 10%;
  transition: box-shadow 0.6s;
}

#landing .fas {
  color: black;
  padding: 5%;
  font-size: 2rem;
  transition: transform 0.5s ease-out;
}

#landing .fas:hover {
  transform: rotate(360deg);
}
/* projects area */

#projects .card {
  padding: 5%;
  transition: box-shadow 0.6s;
}

#projects .card:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}
